<div class="collapsible collapsible--expanded"> 
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>
      <!-- <span class="icon-container"> -->
        <svg class="icon icon__chevron">
            <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
    <!-- </span> -->
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, 
      exercitationem nobis optio aliquid rem quae quis. Rerum recusandae necessitatibus fuga?
    </div>
  </div>

  <div class="collapsible collapsible--expanded"> 
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 2</h2>
      <!-- <span class="icon-container"> -->
        <svg class="icon icon__chevron">
            <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
    <!-- </span> -->
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, 
      exercitationem nobis optio aliquid rem quae quis. Rerum recusandae necessitatibus fuga?
    </div>
  </div>

  <script src="js/main.js">

  </script>