<section class="block container">
    <header class="block block__header">
        <h2>Host on the cloud to growing</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, adipisci?</p>
    </header>
      <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
                <h3 class="feature__heading">Easy to use plan</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Tenetur iure dolores ex placeat cum ab alias error repellendus aliquam possimus.</p>
                <a href="" class="link-arrow">Learn More</a>
            </div>
            <picture>
                <source type="Image/png" srcset="images/easy@2x.png 2x">
                <source type="Image/webp" srcset="images/easy@2x.webp 2x">
                <img src="images/easy.jpg" alt=""  class="feature__img">
            </picture>
       
      </article>

      <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#settings"></use>
                </svg>
                <h3 class="feature__heading">Wordpress made easy</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Tenetur iure dolores ex placeat cum ab alias error repellendus aliquam possimus.</p>
                <a href="" class="link-arrow">Learn More</a>
            </div>
            <picture>
                <source type="Image/png" srcset="images/fast@2x.png 2x">
                <source type="Image/webp" srcset="images/fast@2x.webp 2x">
                <img src="images/fast.jpg" alt=""  class="feature__img">
            </picture>

            
           
            
      </article>


      <article class="grid grid--1x2 feature">
        
            <div class="feature__content">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#settings"></use>
                </svg>
                <h3 class="feature__heading">Wordpress made easy</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Tenetur iure dolores ex placeat cum ab alias error repellendus aliquam possimus.</p>
                <a href="" class="link-arrow">Learn More</a>
            </div>
            <picture>
                <source type="Image/png" srcset="images/Wordpress@2x.png 2x">
                <source type="Image/webp" srcset="images/Wordpress@2x.webp 2x">
                <img src="images/fast.jpg" alt=""  class="feature__img">
            </picture>
        
      </article>     
  </section>