<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, deserunt excepturi voluptatem, rerum nostrum reiciendis, veniam ipsa tenetur non ducimus molestiae et doloremque voluptates minima asperiores! Eligendi iure necessitatibus at ratione est laboriosam dolor, commodi cumque quos aut amet minima alias dolorum ut. Illum
        , molestias quae aut atque nihil illo.</p>

        <footer>
            <div class="media">
                <div class="media__image">
                  <svg class="icon icon--primary quote__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                  </svg>
                </div>
                <div class="media__body">
                  <h3 class="media__title quote__author">Jeleel Kolapo</h3>
                  <p class="quote__company">
                    CodySense IT Solutions
                  </p>
                </div>
              </div>
        </footer>    
</blockquote>